
Front-End/Material de Apoio/Não confirmado 685052.crdownload
*.zip
*.pdf
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/01 - Variáveis - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/02 - Operadores Lógicos, Aritméticos e de Comparação - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/03 - Métodos e Funções - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/04 - Listas, Tuplas e Sets - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/04 - Listas, Tuplas e Sets - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/05 - Condicionais (if e else) - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/05 - Condicionais (if e else) - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/06 - Loops (while e for) - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/06 - Loops (while e for) - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/07 - Dicionarios - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/07 - Dicionarios - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/08 - Compreensão de Listas - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/08 - Compreensão de Listas - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/09 - Expressões Lambda - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/.ipynb_checkpoints/09 - Expressões Lambda - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/01 - Variáveis - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/01 - Variáveis - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/02 - Operadores Lógicos, Aritméticos e de Comparação - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/02 - Operadores Lógicos, Aritméticos e de Comparação - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/03 - Métodos e Funções - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/03 - Métodos e Funções - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/04 - Listas, Tuplas e Sets - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/04 - Listas, Tuplas e Sets - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/05 - Condicionais (if e else) - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/05 - Condicionais (if e else) - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/06 - Loops (while e for) - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/06 - Loops (while e for) - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/07 - Dicionarios - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/07 - Dicionarios - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/08 - Compreensão de Listas - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/08 - Compreensão de Listas - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/09 - Expressões Lambda - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/02 - Python/09 - Expressões Lambda - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/03 - Numpy/.ipynb_checkpoints/Numpy - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/03 - Numpy/.ipynb_checkpoints/Numpy - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/03 - Numpy/Numpy - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/03 - Numpy/Numpy - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/.ipynb_checkpoints/Pandas - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/.ipynb_checkpoints/Pandas - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/Pandas - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/Pandas - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/titanic/test.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/04 - Pandas/titanic/train.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/.ipynb_checkpoints/Visualização de Dados - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/.ipynb_checkpoints/Visualização de Dados - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/titanic/test.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/titanic/train.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/Visualização de Dados - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/05 - Visualizacao de Dados/Visualização de Dados - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/06 - Time Series/.ipynb_checkpoints/Time Series - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/06 - Time Series/.ipynb_checkpoints/Time Series - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/06 - Time Series/Time Series - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/06 - Time Series/Time Series - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/01 - Histograma - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/01 - Histograma - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/02 - Frequência Relativa - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/02 - Frequência Relativa - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/03 - Média, Mediana e Moda - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/03 - Média, Mediana e Moda - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/04 - Medidas de Dispersão - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/04 - Medidas de Dispersão - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/05 - Variância e Desvio Padrão - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/05 - Variância e Desvio Padrão - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/06 - Coeficiente de Variação - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/06 - Coeficiente de Variação - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/07 - Covariância e Coeficiente de Correlação - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/07 - Covariância e Coeficiente de Correlação - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/08 - Probabilidade-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/09 - Teorema do Limite Central - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/09 - Teorema do Limite Central - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/10 - Intervalo de Confiança-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/11 - Teste de Hipóteses-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/Frequência Relativa - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/Histograma - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/Intervalo de Confiança-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/.ipynb_checkpoints/Teste de Hipóteses-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/01 - Histograma - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/01 - Histograma - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/02 - Frequência Relativa - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/02 - Frequência Relativa - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/03 - Média, Mediana e Moda - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/03 - Média, Mediana e Moda - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/04 - Medidas de Dispersão - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/04 - Medidas de Dispersão - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/05 - Variância e Desvio Padrão - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/05 - Variância e Desvio Padrão - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/06 - Coeficiente de Variação - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/06 - Coeficiente de Variação - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/07 - Covariância e Coeficiente de Correlação - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/07 - Covariância e Coeficiente de Correlação - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/08 - Probabilidade.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/09 - Teorema do Limite Central - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/09 - Teorema do Limite Central - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/10 - Intervalo de Confiança.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/11 - Teste de Hipóteses.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/alturas.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/1.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/2.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/3.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/4.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/5.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/6.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/6cards.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/90.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/95.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/99.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/arvore.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/dado.jpg
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/redblue.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/imagens/residuos.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/Tabela-Z.jpg
Escolas/Udemy/Data Science e Machine Learning/Recursos/07 - Estatistica/weight-height.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/08 - Estatistica - Regressao Linear/.ipynb_checkpoints/Regressão Linear - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/08 - Estatistica - Regressao Linear/.ipynb_checkpoints/Regressão Linear - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/08 - Estatistica - Regressao Linear/Regressão Linear - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/08 - Estatistica - Regressao Linear/Regressão Linear - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/.ipynb_checkpoints/Regressão Linear - Predicao da Idade dos Passageiros do Titanic - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/.ipynb_checkpoints/Regressão Linear - Predicao da Idade dos Passageiros do Titanic - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/Regressão Linear - Predicao da Idade dos Passageiros do Titanic - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/Regressão Linear - Predicao da Idade dos Passageiros do Titanic - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/titanic/test.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/09 - Projeto - Regressao Linear - Predicao da Idade/titanic/train.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/.ipynb_checkpoints/Modelos Preditivos-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/.ipynb_checkpoints/Tipos de ML-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/AdaBoost.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/DTree.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/GBoost.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/KMC.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/KNN.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/LinReg.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/LogReg.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/RForest.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/SGD.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/imagens/SVM.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/Modelos Preditivos.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/10 - Modelos Preditivos/Tipos de ML.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/.ipynb_checkpoints/Classificacao Tecnicas Avancadas de ML - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/.ipynb_checkpoints/Classificacao Tecnicas Avancadas de ML - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/Classificacao Tecnicas Avancadas de ML - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/Classificacao Tecnicas Avancadas de ML - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/idade_completa.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/titanic.jpg
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/titanic/test.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/11 - Classificacao - Tecnicas Avancadas de ML/titanic/train.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/12 - Aprendizagem Nao-Supervisionada - Clustering/.ipynb_checkpoints/K-Means Clustering - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/12 - Aprendizagem Nao-Supervisionada - Clustering/.ipynb_checkpoints/K-Means Clustering - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/12 - Aprendizagem Nao-Supervisionada - Clustering/K-Means Clustering - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/12 - Aprendizagem Nao-Supervisionada - Clustering/K-Means Clustering - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/12 - Aprendizagem Nao-Supervisionada - Clustering/store.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/13 - Reducao de Dimensoes - Dimensionality Reduction/.ipynb_checkpoints/Reducao de Dimensoes - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/13 - Reducao de Dimensoes - Dimensionality Reduction/.ipynb_checkpoints/Reducao de Dimensoes - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/13 - Reducao de Dimensoes - Dimensionality Reduction/Reducao de Dimensoes - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/13 - Reducao de Dimensoes - Dimensionality Reduction/Reducao de Dimensoes - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/.ipynb_checkpoints/YOLO-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/imagens/batch.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/imagens/boxes.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/imagens/grid.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/imagens/pred.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/imagens/scores.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/14 - Visao Computacional - YOLO/YOLO.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/.ipynb_checkpoints/Analise de Sentimentos - Twitter - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/.ipynb_checkpoints/Analise de Sentimentos - Twitter - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/Analise de Sentimentos - Twitter - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/Analise de Sentimentos - Twitter - Vazio.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/twitter/submission.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/twitter/test.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/15 - Processamento de Linguagem Natural - PLN/twitter/train.csv
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/.ipynb_checkpoints/Self-Driving Taxi - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/.ipynb_checkpoints/Self-Driving Taxi - Vazio-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/.ipynb_checkpoints/Taxi Auto-Dirigivel - Preenchido-checkpoint.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/2531236_cf49_2.jpg
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/imagens/qtable.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/imagens/rosadosventos.jpeg
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/imagens/taxienv.png
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/Taxi Auto-Dirigivel - Preenchido.ipynb
Escolas/Udemy/Data Science e Machine Learning/Recursos/16 - Aprendizagem Reinforcada - Taxi Auto-Dirigivel/Taxi Auto-Dirigivel - Vazio.ipynb
*.json
